<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/inicio.css">

</head>
<body>

<div class="header-top">
  <a class="admin-link" href="admin/obtenerProductos">Acceso a administración</a>
  <div id="login_usuario">Usuario no identificado</div>
</div>

<div class="welcome-banner">
  Bienvenido a la tienda
</div>
    <div class="nav-menu">
  	<a href="?idioma=es">ESPAÑOL</a>
  	<a href="?idioma=en">INGLES</a>
  	<a href="?idioma=ch">CHINO</a>

  </div>

<div class="nav-menu">
  <a id="enlace_productos" href="#">Productos</a>
  <a id="enlace_identificarme" href="#">Identificarme</a>
  <a id="enlace_registrarme" href="#">Registrarme</a>
  <a  id="enlace_carrito" href="#">Carrito</a>
</div>


<div id="contenedor">

</div>


<!-- Incluir los archivos de Javascript necesarios -->
<script  src="librerias_js/jquery.js" ></script>
<script  src="librerias_js/mustache.js"></script>
<script  src="javascript/globales.js"></script>

<script  src="javascript/cargar_plantillas.js"></script>
<script  src="javascript/funciones_menu.js"></script>
<script  src="javascript/main.js"></script>




</body>
</html>