<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" th:href="@{../css/admin.css}">
 <link rel="stylesheet" th:href="@{../css/menu.css}">

</head>
<body>
  <div th:insert="fragments/general.html :: menu"></div>

  <div id="contenedor">
    <a href="registrarProducto">Registrar un nuevo producto</a>

    <div>
      <div th:each="producto : ${productos}" class="producto">
        <div>    <span th:text="#{productos.nombre}"></span>: <span th:text="${producto.nombre}"></span></div>
        <div>    <span th:text="#{productos.precio}"></span>: <span th:text="${producto.precio}"></span></div>
        <div>    <span th:text="#{productos.fabricante}"></span>: <span th:text="${producto.fabricante}"></span></div>
        <div>    <span th:text="#{productos.medidas}"></span>: <span th:text="${producto.medidas}"></span></div>
        <div>    <span th:text="#{productos.material}"></span>: <span th:text="${producto.material}"></span></div>
        <div>    <span th:text="#{productos.descripcion}"></span>: <span th:text="${producto.descripcion}"></span></div>
        <div>    <span th:text="#{productos.categoria}"></span>: <span th:text="${producto.categoria.nombre}"></span></div>
        <div>    <span th:text="#{productos.mediaValoraciones}"></span>: <span th:text="${producto.mediaValoraciones}"></span></div>
        
        <img  th:src="@{${ '../mostrar_imagen?id=' + producto.id }}" />

        <div>
          <a th:href="@{${ 'borrarProducto?id=' + producto.id }}" onclick="return confirm('¿seguro?')">BORRAR</a>
          <a th:href="@{${ 'editarProducto?id=' + producto.id }}">EDITAR</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
